.main {
    width: 50%;
    margin: 50px auto;
}
.navbar {
  font-family: 'Lato'
}

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}
input {
    border-radius: 0 !important;
    background:#ccc !important;
}
#resultsDiv {
    box-shadow:0px 1px 1px 1px #ccc;
    border-top:none;
    min-height: 60vh;
    max-height: 60vh;
    margin-top:-15px !important;
    display: none;
    overflow: scroll;
}
*:focus {
    outline: 0!important;
    border-color:#ccc !important;
    box-shadow: none !important;
}
.no-user {
  padding-top:5%;
  font-family: 'Lato'
}
input::placeholder {
  font-family: 'Lato';
  font-size:18px;
}
#resultsDiv ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start:0;
}
#resultsDiv ul li {
  padding:1.5em;
  cursor: pointer;
}
#resultsDiv ul li:hover {
  background:#fefee1 !important;
}
.userId {
  font-family: 'Lato';
  font-weight: bold;
  font-size:18px;
}
.userName {
  font-family: 'Lato';
  font-size:16px;
  font-weight:400;
  font-style: italic;
}
.userAddress {
  font-family: 'Lato';
  font-size:14px;
  font-weight:300;
}
li.selected {
  background:#fefee1;
}
mark {
  color: #568ebd;
  font-weight:bold;
}